html, body {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#root{
    height: 100%;
    overflow: hidden;
}

#wrapper{
    display: flex;
    height: 100%;
}

#wrapper #sidebar{
    /*background: #ffffff;*/
    background-image: linear-gradient(#54b4eb,#2fa4e7 60%,#1d9ce5);
    height: 100%;
    flex-direction: column;
}

#wrapper #main{
    flex: 1;
    flex-direction: row;
}

#wrapper #main #header{
    flex: 1;
    flex-direction: row;
    /*background: #ffffff;*/
}

#wrapper #main #header h3{
    padding: 13px;
    font-size: 13px;
    margin: 0;
}


#wrapper #main #mainBoby{
    display: flex;
    height: 100%;
}



#wrapper #main #mainColumn{
   /* flex: 1;
    flex-direction: row;
    height: calc(100% - 51px);
    overflow-x: auto;
    background: #ffffff;*/

    height: calc(100% - 51px);
    overflow-x: auto;
    margin-left: 0;
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 1px;
    box-shadow: inset 1px 0 0 0 #e8e8e8;

}

#wrapper #main #secondColumn{
    display: flex;
    flex-basis: 470px;
    flex-shrink: 0;
    min-width: 1px;
    border-left: 1px solid #e8e8e8;
    word-break:break-all;
    flex-direction: column;
}
















